<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<nav></nav>

<main>
    <div>
        <div class="form__wrapper">
            <div class="form">
                <div class="form__options">
                    <div class="form__options__login">
                        <div class="options__body">
                            <p>Already have an account?</p>
                            <a href="/login" class="btn btn-light">Login!</a>
                        </div>
                    </div>
                    <div class="form__options__signup">
                        <p>Don't have an account yet?</p>
                        <a href="/signup" class="btn btn-light">Sign Up!</a>
                        <small>It's free!</small>
                    </div>
                </div>

                <div class="form__background"></div>

                <div class="form__body">
                    <form th:action="@{/login}" method="POST" class="login" name="login">
                        <h2>Login!</h2>
                        <div class="input-field">
                            <input type="text" id="log_username" name="username" placeholder="">
                            <label for="log_username">Username or Email</label>
                        </div>
                        <div class="input-field">
                            <input type="password" id="password" name="password">
                            <label for="password">Password</label>
                        </div>

                        <div th:if="${param.error}" style="color:red; margin-bottom:1rem">
                            Invalid Username and Password.
                        </div>
                        <div th:if="${param.logout}" style="color:#7db6fc; margin-bottom:1rem">
                            You have been logged out.
                        </div>

                        <input type="submit" class="btn btn-light" value="Login" name="login">
                    </form>

                    <form th:action="@{/signup}" method="POST" class="sign-up" th:object="${user}" name="signupForm">
                        <h2>Sign Up!</h2>
                        <div class="input-field">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" th:field="*{username}">
                            <p class="errorMessage" th:text="${message}"></p>
                        </div>
                        <div class="input-field">
                            <label for="create_email">Email Address</label>
                            <input type="email" id="create_email" name="create_email" th:field="*{email}">
                            <p class="errorMessage" th:text="${emailMessage}"></p>
                        </div>
                        <div class="input-field">
                            <label for="createPassword">Password</label>
                            <input type="password" id="createPassword" name="createPassword" th:field="*{password}">
                            <p class="errorMessage" th:text="${passwordMessage}"></p>
                        </div>
                        <div class="input-field">
                            <label for="confirmCreatePassword">Confirm Password</label>
                            <input type="password" id="confirmCreatePassword" name="confirmCreatePassword" onkeyup='check()'>
                            <p id="alertPasswordSign" th:text="${passwordNotMatch}"></p>
                        </div>

                        <input type="submit" id="signup" class="btn btn-light" value="Create Account" name="signup">
                    </form>
                </div>

            </div>
        </div>
    </div>
</main>

<script src="/js/login.js"></script>
</body>
</html>